<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<div class="post-full">
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>



  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="btn-group btn-group-justified">

                <a href="http://twitter.com/{{page.author_twitter}}" type="button" class="btn btn-default" target="_blank"><span class="fa fa-twitter"></span> {{page.author}}</a>
                <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span> {{ page.date | date_to_long_string }}</a>

            </div>
        </div>
        <div class="col-md-4" style="display: inline-flex">
            <div class="btn-group center-block">

                {% if page.previous %}
                    <a class="btn btn-default" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}"><span class="fa fa-backward"></span></a>
                {% else %}
                    <button class="btn btn-default" disabled="disabled"><span class="fa fa-backward"></span></button>
                {% endif %}
                {% for cat in site.mycategories %}
                    {% if cat[0] == page.category %}
                    <a href="/{{ cat[0] }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> {{ cat[1] }}</a>
                    {% endif %}
                {% endfor %}
                {% if page.next %}
                    <a class="btn btn-default" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}"><span class="fa fa-forward"></span></a>
                {% else %}
                    <button class="btn btn-default" disabled="disabled"><span class="fa fa-forward"></span></button>
                {% endif %}

            </div>
        </div>
        <div class="col-md-4 pull-right">
            <div class="btn-group pull-right btn-group-justified">

                {% capture twitter_status %}{{page.title}} by @{{page.author_twitter}} #LambdaArch {{ site.production_url }}{{page.url }}{% endcapture %}
                {% capture full_url %}{{ site.production_url }}{{page.url }}{% endcapture %}

                <a class="btn btn-twitter" href="http://twitter.com/home?status={{twitter_status | uri_escape }}" target="_blank"><span class="fa fa-twitter"></span></a>
                <a class="btn btn-facebook" href="http://www.facebook.com/share.php?u={{ full_url | uri_escape }}&title={{page.title | urlencode}}" target="_blank"><span class="fa fa-facebook"></span></a>
                <a class="btn btn-google-plus" href="https://plus.google.com/share?url={{ full_url | uri_escape }}" target="_blank"><span class="fa fa-google-plus"></span></a>
                <a class="btn btn-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ full_url | uri_escape }}&title={{page.title | uri_escape}}&source=lambda-architecture.net" target="_blank"><span class="fa fa-linkedin"> </span></a>
                <a href="#comments" type="button" class="btn btn-default"><i class="fa fa-comment"></i> </a>

            </div>
        </div>
    </div>

    <hr>
    <a name="comments"></a>
    {% include JB/comments %}
</div>
